.columns {
  display: grid;

  grid-auto-columns: 86%;
  grid-auto-flow: column;
  gap: var(--mantine-spacing-sm);
  overflow-x: auto;

  overscroll-behavior-x: contain;
  padding-bottom: var(--mantine-spacing-xs);
  scroll-padding-inline-start: var(--mantine-spacing-xs);
  scroll-snap-type: x mandatory;
}

.column {
  min-width: 0;
  scroll-snap-align: start;
}

@media (min-width: 48em) {
  .columns {
    grid-auto-flow: row;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    overflow-x: visible;
    scroll-snap-type: none;
  }
}
