:where(.source) {
  position: relative;
}

.source[data-google-calendar-event] {
  padding-inline-start: 20px;
}

.icon {
  inset-inline-start: 3px;
  max-height: calc(100% - 2px);
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.source[data-event-id]:not([data-hanging]) > .icon {
  top: 4px;
  transform: none;
}
